.item {
  display: flex;
  border-bottom: 3px solid #eee;
  height: 100%;
  text-decoration: none;
}
.item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.item > * {
  animation-name: fromLeft;
  animation-duration: 0.3s;
}
.item img {
  height: 150px;
  margin: 15px auto;
  cursor: pointer;
}
.item img:hover + .title,
.title:hover {
  text-decoration: underline;
}
.item:last-of-type {
  border-bottom: none;
}

.date {
  color: #eee;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 130px;
  flex-shrink: 0;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  color: #4ecca3;
  flex-grow: 1;
  cursor: pointer;
}
.link {
  height: 50px;
  margin: auto 20px;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-shrink: 0;
}
.prices span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  font-size: 22px;
  line-height: 1.1;
}
.prices span:first-child {
  border-bottom: 2px solid #eee;
}
.prices span i {
  font-style: normal;
  color: #4ecca3;
  font-weight: 700;
  padding-bottom: 10px;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-45px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1050px) {
  .date {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    width: auto;
  }
}
@media screen and (max-width: 850px) {
  .item {
    flex-direction: column;
  }
  .date {
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    transform: rotate(0);
  }
  .prices {
    flex-direction: row;
    column-gap: 20px;
  }
  .prices span:first-child {
    border-bottom: none;
  }
  .link {
    max-width: 200px;
    width: 96%;
    margin: 10px auto 20px;
  }
  .title {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .prices {
    flex-direction: column;
    column-gap: 20px;
  }
}
